<!doctype html>
<html lang="<%= testMainLocale %>">
  <head>
    
    <meta charset="utf-8">
    <title><%= testTitle %></title>
    <script type="text/javascript" src="js/source.js"></script>
    <link rel="stylesheet" type="text/css" href="css/source.css" />
    <link rel="stylesheet" type="text/css" href="css/cosmetic.css" />
    
    <style id="csssrc">
      <%- indent(cssSrc, 6) %>
    </style>
    
  </head>

  <body>

    <div id="notes" lang="<%= testMainLocale %>">
      <div class="assertion"><b>Assertion:</b> <%= assertion %></div>
      <div class="instructions"><b>Instructions:</b> <%= instructions %></div>
      <div id="ref" lang="<%= testMainLocale %>"><b>References and Comparisons:</b> <%= ref %></div>
    </div>

    <div id="htmlsrc" lang="<%= testSrcLocale %>">
      <%- indent(htmlSrc, 6) %>
    </div>
    
    <div id="sourceCode"></div>
    <script>showSource()</script>
  </body>
</html>
